* {
    background-color: rgb(12, 172, 184);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

textarea {
    width: 300px;
    height: 100px;
    background-color: rgba(101, 252, 1, 0.664);
}

button {
    width: 100px;
    height: 40px;
    background-color: lightblue;
}

#selectSource {
    position: relative;
    top: 10;
    right: 285;
    background-color: white;
}

#selectLanguage {
    position: relative;
    top: 10;
    left: 45;
    background-color: white;
}